.btn-custom {
  background-color: #212529;
  color: #fff;
  border: none;
}

.btn-custom:hover {
  background-color: #343a40;
}

.card {
  border-radius: 8px;
}

.card-body {
  padding: 2rem;
}

body {
  background-color: #FFFFFF;
}